tenacity
anthropic
openai
llama-index
llama-index-llms-anthropic
llama-index-readers-file
fastapi
uvicorn
python-dotenv
pydantic
nest-asyncio
matplotlib
PyMuPDF
pillow
python-multipart
azure-storage-blob
azure-identity
python-jose[cryptography]
passlib[bcrypt]
pyodbc